<div data-page="TD_actualiza" class="page" ng-controller="" >
  <div class="navbar header">
    <div class="navbar-inner td-nav-estilo-blanco">
      <div class="left sliding"><a href="index.html" class="link icon-only"><i class="fa fa-chevron-left td-back"></i></a></div>
      <div class="center td-nav-center"><h3>Actualiza número de teléfono</h3></div>
      <div class="right"></div>
      </div>
  </div>

<div class="page-content hide-bars-on-scroll" >
  <!-- IMAGEN LOGO -->
    <div class="block-verificacion">
      <div class="item-content">
        <div class="item-inner">  
          <!---->
    <form id="" class="form-registro" method="POST" data-toggle="validator" role="form">
        <div class="list-block td-centrado">
          <ul>

            <li>
              <div class="item-content">
                <div class="item-inner">              
                  <div class="item-input reder">
                    <input type="tel" name="telefono" ng-model="telefono" id="telefono" placeholder="número de teléfono"/>
                  </div>
                  <div class="help-block with-errors">*10 dígitos</div> 
                </div>
              </div>
            </li>   
          </ul>
        </div>
      </form>
          <!---->
           <p class="justify ">
           Usamos tu correo electrónico y número de teléfono móvil para enviarte notificaciones de consultas y  mensajes de tus pacientes.
          </p>
        </div>
      </div>
    </div>



    <div class="toolbar toolbar-bottom ">
      <div class="buttonbar row no-gutter">
         <input type="submit" id ="td-bottom" class="colorbtngris1 bt-bottom col-100" value="GUARDAR Y VERIFICAR" ng-click="">
      </div>
    </div>


</div>
