<div class="page navbar-fixed block-nav">
  <div class="navbar title-bar">
    <div class="navbar-inner">
      <div class="left"><a href="index.html" class="back link icon-only"></a></div>

      <div class="center td-nav-center-title ">
        <h3>Cuenta de Depósito</h3>
      </div>

      <div class="right"></div>
    </div>
  </div>
<!---->
  <div id="" class="tab page-content" style=" background:#fff;">
      <form id="" class="form-registro deposito" method="POST" data-toggle="validator" role="form">

      <div class="list-block td-centrado">
        <ul class="cuenta-deposito">
        <li>
          <div class="item-content fact-texto">
          Ingresa los datos de la cuenta a donde quieres que te depositemos.
          </div>
        </li>
        <li>
            <div class="item-content">
              <div class="item-inner">
                <!-- <div class="item-title  label">Banco</div> -->
                <div class="item-input select-item" >
                  <select name="Banco" ng-model="Banco" id="Banco">
                    <option value="" disabled selected>Banco</option>
                    <option value="1">Banco</option>
                    <option value="2">Banco</option>
                  </select>
                <!--</div><i class="icon icon-form-checkbox"></i>-->
              </div>
            </div>
          </li>
           <li>
            <div class="item-content">
              <div class="item-inner">
                <!-- <div class="item-title  label">Tipo de Cuenta</div> -->
                <div class="item-input select-item" >
                  <select name="Cuenta" ng-model="Cuenta" id="Cuenta">
                    <option value="" disabled selected>Tipo de Cuenta</option>
                    <option value="1">Cuenta</option>
                    <option value="2">Cuenta</option>
                  </select>
                <!--</div><i class="icon icon-form-checkbox"></i>-->
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                 <div class="item-title label">No. de Cuenta</div>
                <div class="item-input">
                  <input class="style login3" type="text" name="" ng-model="correo" id="correo" placeholder="Escribe aquí…">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                 <div class="item-title label">Beneficiario</div>
                <div class="item-input">
                  <input class="style login3" type="text" name="" ng-model="correo" id="correo" placeholder="Escribe aquí…">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          </li>


          <a href="" class="button">Cuenta Alternativa</a>
          
        </ul>
      </div>
      </form>
      
      </div>
<!---->

</div>