<div data-page="TD_DRPROFILE" class="page page-content navbar-fixed block-nav ">
<!---->
  <div class="navbar title-bar " id="block-profile-id">
    <div class="overlay"></div>
    <div class="navbar-inner">
      <div class="left"><a href="index.html" class="back link icon-only"></a></div>

      <div class="center td-nav-center-title ">
      
        <h3>Información del DoctorR</h3>
      </div>
      <div class="right"></div>
    </div>


    <div class="row mas-profile-id">
      <div class="col-100 play">
        <a href="" class="button"><span class="icon-group-46"></span></a>

      </div>
      <div class="col-33"></div>
      <div class="col-33 perfil-id">
        <span><img src="img/td-foto-perfil-dra1@2x.png" alt=""></span>
      </div>
      <div class="col-33 ">
        <div class="logo-id">logo2</div>
        <div class="mas-id">
           <p>Agregar a <br>
          Mis Doctores</p>
            <a href="" class="button">
              <span class="icon-group-33"></span>
              <span class="icon-group-37"></span>
            </a>
        </div>
         
      </div>
      <div class="col-100 nombre-id"><h1>Dra.Laura Michelle Velten Aguirre</h1></div>
          <div class="col-100 cont-stars">
            Pediatra
            <div class="stars">
                    <span class="icon-star active-s"></span>
                    <span class="icon-star active-s"></span>
                    <span class="icon-star active-s"></span>
                    <span class="icon-group-50"></span>
                    <span class="icon-group-50"></span>
            </div>    
          </div>
    </div>


        <!--bloque datos-datos-info-doc--> 
          <div class="row datos-info-doc">
              <div class="col-33">
                <span class="icon-group-48">
                  <span class="icon-group-17"></span>
                </span>$50.00
              </div>
              <div class="col-33">
                <span class="icon-group-47">
                   <span class="icon-group-17"></span>
                </span>$950.00</div>
              <div class="col-33">
                <span class="icon-group-49">
                   <span class="icon-group-17"></span>
                </span>$1,000.00</div>
              
            </div>
  </div>
<!---->
  <div class="page-content infodoc-lista">
  <div class="content-block">
    <!-- Buttons row as tabs controller -->
    <div class="buttons-row">
      <!-- Link to 1st tab, active -->
      <a href="#tab1" class="tab-link active button">
        <span class="icon-group-20"></span>
          Perfil
      </a>
      <!-- Link to 2nd tab -->
      <a href="#tab2" class="tab-link button">
        <span class="icon-group-8"></span>
        Disponibilidad
      </a>
    </div>
  </div>
  <!-- Tabs, tabs wrapper -->
  <div class="tabs">
    <!-- Tab 1, active by default -->
    <div id="tab1" class="tab active">
        <!---->
        <div class="list-block media-list">
          <ul>
              <li>
                  <div class="item-content">
                     
                      <div class="item-inner">
                      <h3>Acerca de mí</h3>
                          
                          <div class="">
                            <p>
                                 Soy una doctora con más de 20 años de experiencia. 
                Mi forma de trabajar es empática, amable, pero sobre todo profesional. 
                Me gusta formar relaciones a largo plazo con mis pacientes, basadas en un trato respetuoso, personalizado y amigable.
                 Soy una doctora con más de 20 años de experiencia. 
                Mi forma de trabajar es empática, amable, pero sobre todo profesional. 
                Me gusta formar relaciones a largo plazo con mis pacientes, basadas en un trato respetuoso, personalizado y amigable.
                               </p>
                          </div>
                      </div>
                  </div>
              </li>

              

              <li class="item-content profile-content">

                 <div class="item-inner">
                  <h3>Formación Académica</h3>
                   <div class="row">
                     <div class="item-title col-90">No. Cédula</div>
                     <div class="item-after col-10">
                     <span class="icon-group-16"></span></div>
                        <div class="col-100">
                          <input class="" type="text" name="Cédula" ng-model="Cédula" id="Cédula" placeholder="2398773"></div>
                        <div class="item-after col-100 edit-info">VERIFICADO: 22/08/16, 9:34 AM</div>
                     </div>
                  </div>
              </li>

              <li class="item-content profile-content">

                 <div class="item-inner">
                   <div class="row">
                     <div class="item-title col-90">Universidad</div>
                     <div class="item-after col-10">
                     <span class="icon-group-16"></span></div>
                        <div class="col-100">
                          <input class="" type="text" name="Universidad" ng-model="Universidad" id="Universidad" placeholder="Universidad Nacional Autónoma de México"></div>
                        <div class="item-after col-100 edit-info">VERIFICADO: 22/08/16, 9:34 AM</div>
                     </div>
                  </div>
              </li>  

              <li class="item-content profile-content">

                 <div class="item-inner">
                   <div class="row">
                     <div class="item-title col-90">Otros Idiomas</div>
                     <div class="item-after col-10">
                     <span class="icon-group-16"></span></div>
                        <div class="col-100">
                          <input class="" type="text" name="Idiomas" ng-model="Idiomas" id="Idiomas" placeholder="Inglés, Alemán"></div>
                        <div class="item-after col-100 edit-info">VERIFICADO: 22/08/16, 9:34 AM</div>
                     </div>
                  </div>
              </li>             
          </ul>
          <!---->

        <div class="item-content gallery row no-gutter"> 
          <div class="list-block col-100" >
          <h3>Prestigio</h3>
          <ul>
            <li class="pentagono">  
                <div class="item-inner">
                  <div class="pentagon">
                    <img src="img/prestigio-icon.png
                    " alt="">
                    <div class="atencion">Atención</div>
                    <div class="empatia">Empatia</div>
                    <div class="experiencia">Experiencia</div>
                    <div class="puntualidad">Puntualidad</div>
                    <div class="pacientes">Pacientes</div>
                  </div>
                  <div class="calificacion">
                    <img src="img/staractive-icon.png" alt="">
                    Sin Calificacion
                  </div>
                </div>  
            </li>
            <li class="prestigio">
                          <div class="item-inner">
                            <!-- <div class="item-title label">Slider</div> -->
                            <div class="row">Atención</div>
                            
                            <div class="center"> 
                            <!--<code class="ng-binding">145</code>-->0.0</div>
                            <div class="item-input">
                              <div class="range-slider">
                                <input type="range" name="Atención" ng-model="Atención" >
                              </div>
                            </div>
                            <a href="" class=""></a>
                          </div>  
                      </li>

                       <li class="prestigio">
                          <div class="item-inner">
                            
                            <div class="row">Empatia</div>
                            
                            <div class="center"> 
                            <!--<code class="ng-binding">145</code>-->0.0</div>
                            <div class="item-input">
                              <div class="range-slider">
                                
                                <input type="range" name="Empatia" ng-model="Empatia">
                              </div>
                            </div>
                            <a href="" class=""></a>
                          </div>  
                      </li>

                       <li class="prestigio">
                          <div class="item-inner">
                            
                            <div class="row">Experiencia</div>
                            <div class="center"> 
                            <!--<code class="ng-binding">145</code>-->0.0</div>
                            <div class="item-input">
                              <div class="range-slider">
                                
                                <input type="range" name="Experiencia" ng-model="Experiencia">
                              </div>
                            </div>
                            <a href="" class=""></a>
                          </div>  
                      </li>

                       <li class="prestigio">
                          <div class="item-inner">
                            
                            <div class="row">Puntualidad</div>
                            
                            <div class="center"> 
                            <!--<code class="ng-binding">145</code>-->0.0</div>
                            <div class="item-input">
                              <div class="range-slider">
                                
                                <input type="range" name="Puntualidad" ng-model="Puntualidad" >
                              </div>
                            </div>
                            <a href="" class=""></a>
                          </div>  
                      </li>

                       <li class="prestigio">
                          <div class="item-inner">
                           
                            <div class="row">Pacientes</div>
                            
                            <div class="center"> 
                            <!--<code class="ng-binding">145</code>-->0.0</div>
                            <div class="item-input">
                              <div class="range-slider">
                                
                                <input type="range" name="Pacientes" ng-model="Pacientes" >
                              </div>
                            </div>
                            <a href="" class=""></a>
                          </div>  
                      </li>
            </ul>
            </div>
        </div>
         
        <!---->
       </div>
    </div>
    <!-- Tab 2 -->
    <div id="tab2" class="tab">
      <!---->
        <div class="list-block media-list">
        <ul>
               <li class="disponibilidad">
                  <div class="row">
                  <div class="col-100 center icon-des">
                   <span class="icon-group-1">
                        <span class="icon-group-17"></span>
                   </span>
                  </div>
                    <div class="item-title col-100 center">CONSULTA VIA REMOTA</div>
                    <div class="col-50  horarios-doc">
                      <div class="row">
                        <h3 class="col-100"><span class="icon-group-27"></span>Horarios</h3>
                        <span class="col-100">Lunes a Viernes</span>
                        <span class="col-100">Sábados</span>
                        <span class="col-100">Domingos</span>
                       </div>
                    </div>
                    <div class="col-50 center disponibilidad-doc">
                     <div class="row">
                        <h3 class="col-100">Disponible Ahora</h3>
                        <span class="col-100">8:00 AM - 8:30 PM</span>
                        <span class="col-100">10:00 AM - 6:30 PM</span>
                        <span class="col-100">10:00 AM - 6:30 PM</span>
                      </div>
                    </div>
                    <div class="col-80 tiempo"><span class="icon-group-28"></span>Tiempo de Respuesta Promedio</div>
                    <div class="col-20 tiempo">12 Min</div>
                    <a href="" class="button col-100 center">
                      CONSULTA VÍA REMOTA<span class="icon-group-36"></span>
                    </a>
                  </div><!--termina el row-->
                </li>

                <li class="disponibilidad">
                  <div class="row">
                  <div class="col-100 center icon-des">
                   <span class="icon-group-2">
                        <span class="icon-group-17"></span>
                   </span>
                  </div>
                    <div class="item-title col-100 center">CONSULTA A DOMICILIO</div>
                    <div class="col-50  horarios-doc">
                      <div class="row">
                        <h3 class="col-100"><span class="icon-group-27"></span>Horarios</h3>
                        <span class="col-100">Lunes a Viernes</span>
                        <span class="col-100">Sábados</span>
                        <span class="col-100">Domingos</span>
                       </div>
                    </div>
                    <div class="col-50 center disponibilidad-doc">
                     <div class="row">
                        <h3 class="col-100 no-disponible">Hoy No Disponible</h3>
                        <span class="col-100">8:00 AM - 8:30 PM</span>
                        <span class="col-100">10:00 AM - 6:30 PM</span>
                        <span class="col-100">10:00 AM - 6:30 PM</span>
                      </div>
                    </div>

                    <div class="col-100  disponibilidad-cobertura">
                      <div class="row">
                        <h3 class="col-100"><span class="icon-path-1"></span>Cobertura</h3>
                        <ul>
                          <li>Tlalnepantla, Estado de México, México</li>
                          <li>Tlalnepantla, Estado de México, México</li>
                          <li>Tlalnepantla, Estado de México, México</li>
                        </ul>
                       </div>
                    </div>

                    <div class="col-100  servicios-doc">
                      <div class="row">
                        <h3 class="col-100"><span class="icon-group-27"></span>Servicios</h3>
                        <span class="col-70">Consulta General a Domicilio</span>
                        <span class="col-30">$1,000.00</span>
                        <span class="col-70">Vacunación</span>
                        <span class="col-30">$1,400.00</span>
                       </div>
                    </div>

                    <div class="col-80 tiempo"><span class="icon-group-28"></span>Tiempo de Espera Promedio</div>
                    <div class="col-20 tiempo">12 Min</div>
                    <a href="" class="button col-100 center">
                      CONSULTA VÍA REMOTA<span class="icon-group-36"></span>
                    </a>
                  </div><!--termina el row-->
                </li>

                 <li class="disponibilidad">
                  <div class="row">
                  <div class="col-100 center icon-des">
                   <span class="icon-group-4">
                        <span class="icon-group-17"></span>
                   </span>
                  </div>
                    <div class="item-title col-100 center">CONSULTA EN CONSULTORIO</div>
                    <h2 class="col-100">Consultorio 1</h2>
                    <div class="col-100  disponibilidad-cobertura">
                      <div class="row">
                        <h3 class="col-50"><span class="icon-path-1"></span>Ubicación</h3>
                        <h3 class="col-50 distancia">DISTANCIA 4.6 KM</h3>
                        <span class="col-100">Av. Jalisco 206, Piso 3, Col. Jacarandas, Tlalnepantla
Estado de México, México, C.P. 54080</span>
                       </div>
                    </div>

                    <div class="col-50  horarios-doc">
                      <div class="row">
                        <h3 class="col-100"><span class="icon-group-27"></span>Horarios</h3>
                        <span class="col-100">Lunes a Viernes</span>
                        <span class="col-100">Sábados</span>
                        <span class="col-100">Domingos</span>
                       </div>
                    </div>
                    <div class="col-50 center disponibilidad-doc">
                     <div class="row">
                        <h3 class="col-100">Disponible Ahora</h3>
                        <span class="col-100">8:00 AM - 8:30 PM</span>
                        <span class="col-100">10:00 AM - 6:30 PM</span>
                        <span class="col-100">10:00 AM - 6:30 PM</span>
                      </div>
                    </div>

                    <div class="col-100  servicios-doc">
                      <div class="row">
                        <h3 class="col-100"><span class="icon-group-45"></span>Servicios</h3>
                        <span class="col-70">Consulta General</span>
                        <span class="col-30">$1,000.00</span>
                        <span class="col-70">Check-Up</span>
                        <span class="col-30">$1,400.00</span>
                       </div>
                    </div>

                    <div class="col-80 tiempo"><span class="icon-group-28"></span>Tiempo de Espera Promedio</div>
                    <div class="col-20 tiempo">12 Min</div>
                  </div><!--termina el row-->
                </li>

                <li class="disponibilidad">
                  <div class="row">
                    <h2 class="col-100">Consultorio 1</h2>
                    <div class="col-100  disponibilidad-cobertura">
                      <div class="row">
                        <h3 class="col-50"><span class="icon-path-1"></span>Ubicación</h3>
                        <h3 class="col-50 distancia">DISTANCIA 4.6 KM</h3>
                        <span class="col-100">Av. Jalisco 206, Piso 3, Col. Jacarandas, Tlalnepantla
Estado de México, México, C.P. 54080</span>
                       </div>
                    </div>

                    <div class="col-50  horarios-doc">
                      <div class="row">
                        <h3 class="col-100"><span class="icon-group-27"></span>Horarios</h3>
                        <span class="col-100">Lunes a Viernes</span>
                        <span class="col-100">Sábados</span>
                        <span class="col-100">Domingos</span>
                       </div>
                    </div>
                    <div class="col-50 center disponibilidad-doc">
                     <div class="row">
                        <h3 class="col-100">Disponible Ahora</h3>
                        <span class="col-100">8:00 AM - 8:30 PM</span>
                        <span class="col-100">10:00 AM - 6:30 PM</span>
                        <span class="col-100">10:00 AM - 6:30 PM</span>
                      </div>
                    </div>

                    <div class="col-100  servicios-doc">
                      <div class="row">
                        <h3 class="col-100"><span class="icon-group-45"></span>Servicios</h3>
                        <span class="col-70">Consulta General</span>
                        <span class="col-30">$1,000.00</span>
                        <span class="col-70">Check-Up</span>
                        <span class="col-30">$1,400.00</span>
                       </div>
                    </div>

                    <div class="col-80 tiempo"><span class="icon-group-28"></span>Tiempo de Espera Promedio</div>
                    <div class="col-20 tiempo">12 Min</div>
                  </div><!--termina el row-->
                </li>

                <li class="disponibilidad">
                    <a href="" class="button col-100 center">
                      CONSULTA VÍA REMOTA<span class="icon-group-36"></span>
                    </a>
                </li>


        </ul>
        </div>
        <!---->
      
    </div>
  
  </div><!--termina tabs-->
</div>
<!---->
</div>
<!--
<li>
              <div class="item-content">
                 
                  <div class="item-inner">
                      <div class="item-title">
                          Acerca de mí
                      </div>
                      <div class="item-content">
                        <p>
                             Soy una doctora con más de 20 años de experiencia. 
            Mi forma de trabajar es empática, amable, pero sobre todo profesional. 
            Me gusta formar relaciones a largo plazo con mis pacientes, basadas en un trato respetuoso, personalizado y amigable.
                           </p>
                      </div>
                  </div>
              </div>
          </li>-->